* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    }
  
  
    /*
    #42b883 official vue green
    */
  
  body {
    /*background-color: #b1f2c2b0;*/
    background-color: #222;
    color: #FFFFFFCE;
    font-family: Tahoma, Verdana;
  }
  
  p {
    font-size: 18px;
    max-width: 900px;
  }
  
  li {
    max-width: 900px;
  }
  
  header {
    font-size: 25px;
    margin: 6px 0;
  }
  
  nav {
    display: block;
  }
  
  #navbar {
    width: 300px;
    border-right: 3px solid #42b883;
    position: fixed;
    top: 0px;
    left: 0;
    max-width: 400px;
    height: 100%;
  }
  
  #navbar ul {
    margin: 0;
    padding: 0;
  }
  
  #navbar li {
    font-size: 19px;
    list-style: none;
    border-bottom: 1px solid #42b883;
    width: 100%;
    height: 40px;
    margin-top: 20px;
    padding-left: 12px;
  }
  
  #navbar header {
    height: 60px;
    border-bottom: 3px solid #42b883;
    padding-left: 9px;
    padding-top: 10px;
    text-align:center;
  }
  
  #navbar a {
    text-decoration: none;
    color: inherit;
  }
  
  #navbar a:hover {
    color: #42b883;
  }
  
  #main-doc {
    position: absolute;
    margin-left: 300px;
    padding: 20px;
  }
  
  .code-div {
    /*background-color: #fff;*/
    background-color: #3b393a;
    margin-bottom: 30px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    max-width: 500px;
  }
  
  .sec2-vue-link, .sec3-vue-link, .sec5-vue-link {
    text-decoration: none;
    color: #42b883;
  }
  
  .single-code-word {
    /*background-color: #fff;*/
    background-color: #3b393a;
    border-radius: 2px;
  }
  
  .single-code-word a {
    text-decoration: none;
    color: #42b883;
  }
  
  h1 {
    margin-bottom: 40px;
    text-align: center;
    margin-top: 70px;
  }
  
  h3 {
    font-weight: normal;
    font-size: 21px;
  }
  
  #main-doc header {
    margin-top: 10px;
    margin-bottom: 55px;
  }
  
  section {
    /*border-bottom: 1px solid #365038;*/
    border-bottom: 1px solid #42b883;
    margin-bottom: 50px;
  }
  
  section:last-of-type {
    border-bottom: 0;
  }
  
  @media only screen and (max-width: 800px) {
    #navbar {
      position: absolute;
      top: 0;
      max-height: 250px;
      width: 100%;
      z-index: 1;
      border-bottom: 2px solid;
      border-right: 0;
      max-width: 100%;
    }
  
    #navbar ul {
      overflow-y: auto;
      overflow-x: hidden;
      height: 177px;
    }
  
    #main-doc {
      position: relative;
      margin-left: 0px;
      margin-top: 270px;
    }
  }